{% extends 'layout.twig' %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Upload Video</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
<div class="col">
    <p class="alert alert-info">
        Thank you for participating in the 3Speak Beta. <br> As a beta tester you will always be able to access the creator studio but no longer be able to upload more videos.
        <br> Without you and all the other Beta testers 3Speak would not be what it is today. <br> <br>
        In the name of Oracle-D & TheyCallMeDan
        <br>
        <b>THANK YOU</b>
    </p>
</div>
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}