{% extends 'layout.twig' %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Livestream</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            <div class="col ">
                <div class="card">
                    <div class="card-body">
                       <p class="alert alert-info">
                           Livestreaming is currently in <b>CLOSED BETA</b>. There is no ETA when this feature becomes available to everyone yet. Closed Beta participants are exclusively selected by the 3Speak team.
                       </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}