{% extends 'layout.twig' %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Livestream</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            <p class="alert alert-info col">
                Livestreaming is not enabled for your account. Please contact @wehmoen#0001 on Discord to enable it.
            </p>
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}
{% block js %}
{% endblock %}