{% extends 'layout.twig' %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Payment Status</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div class="col">
                <h3 class="alert alert-danger">
                    Thank you for your payment. Your payment will be verified by us within the next minutes. <br> Your video will be encoded automatically once we detect the payment. You do not need to do anything.<br>
                    <p class="text-center w-100 mt-3 font-weight-bold">You can now close this page.</p>
                </h3>

            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}